table {
  width: 100%;
  background:wheat;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.btn{
  background:whitesmoke;
}

td, th {
  width: 25%;
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
  background: black;
}


