<form class="container" #f="ngForm" (ngSubmit)="OnAdd(f)">
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" name="user_email" ngModel>
      </mat-form-field>
  <mat-divider></mat-divider>
  <mat-form-field class="example-full-width">
    <input matInput  placeholder="password" [type]="hide ? 'password' : 'text'" name="password" ngModel>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <mat-divider></mat-divider>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="First_name" name="fname" ngModel>
  </mat-form-field>
  <mat-divider></mat-divider>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Last_name" name="lname" ngModel>
  </mat-form-field>
  <mat-divider></mat-divider>

  <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Address" name="address" ngModel></textarea>
    </mat-form-field>
    <mat-divider></mat-divider>
    <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width">
          <input matInput placeholder="City" name="city" ngModel>
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
          <input matInput #postalCode maxlength="6" placeholder="pincode" value="3800" name="pincode" ngModel>
          <mat-hint align="end">{{postalCode.value.length}} / 6</mat-hint>
        </mat-form-field></td>
      </tr></table>
  <mat-divider></mat-divider>
  <mat-form-field class="example-full-width">
      <span matPrefix>+91 &nbsp;</span>
      <input type="tel" matInput placeholder="Mobile_no" name="mob_no" ngModel>
      <mat-icon matSuffix>phone</mat-icon>
    </mat-form-field>
    <mat-divider></mat-divider>

    <mat-radio-group name="gender" ngModel required #gender="ngModel">
      <mat-radio-button value="male">Male</mat-radio-button>
      <mat-radio-button value="female">Female</mat-radio-button>
    </mat-radio-group>
    <!-- <div>
        <label>Gender : </label>
          <mat-radio-button value="male"  name="gender" ngModel>Male</mat-radio-button>
          <mat-radio-button value="female" name="gender" ngModel>Female</mat-radio-button>
        </div> -->
        <mat-divider></mat-divider>
          <input type="file" (change)="changeImg($event)">
        <mat-divider></mat-divider>
        <div>
            <button type="submit" [disabled]="!f.valid"  mat-raised-button >ADD</button>
          </div>
          <div>
            <button (click)="OnCancel()" mat-raised-button >CANCEL</button>
          </div>
</form>
