<div class="container">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="img1">
      <th class="header" mat-header-cell *matHeaderCellDef mat-sort-header> image </th>
      <td mat-cell *matCellDef="let row">
        <img mat-card-image  style="align-content: 'right: ;';" height="200" width="200" src="http://localhost:3000/images/product_images/{{row.img1}}" alt="Photo of user">
     </td>
    </ng-container>
    <ng-container matColumnDef="choose">
      <th class="header" mat-header-cell *matHeaderCellDef mat-sort-header> </th>
      <td mat-cell *matCellDef="let row">
           <input type="file" (change)="changeImg($event)">
     </td>
    </ng-container>
  <ng-container matColumnDef="action">
    <th class="header" mat-header-cell *matHeaderCellDef > Action</th>
    <td mat-cell *matCellDef="let row">
      <button  class="btn" mat-mini-fab aria-label="Example icon-button with a heart icon" (click)="OnEdit(row)" mat-button><mat-icon>edit</mat-icon></button>
      <button  class="btn" mat-mini-fab aria-label="Example icon-button with a heart icon" (click)="OnDelete(row)" mat-button><mat-icon>delete</mat-icon></button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;">
</table>

</div>
