<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  <mat-icon>search</mat-icon>
</mat-form-field>


<!-- Search form
<form class="form-inline md-form form-sm">
  <mdb-icon fas icon="search" aria-hidden="true"></mdb-icon>
  <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search"
    mdbInput>
</form> -->
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="pro_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
      <td mat-cell *matCellDef="let row"> {{row.pro_name}} </td>
    </ng-container>

    <ng-container matColumnDef="fname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer Name </th>
      <td mat-cell *matCellDef="let row"> {{row.fname}} </td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Order Date </th>
      <td mat-cell *matCellDef="let row"> {{row.date}} </td>
    </ng-container>
    <ng-container matColumnDef="delivery_status">
      <th mat-header-cell *matHeaderCellDef> Delivery status</th>
      <td mat-cell *matCellDef="let row">{{row.delivery_status}}</td>
    </ng-container>
     <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Action </th>
      <td mat-cell *matCellDef="let row">
        <button class="btn" mat-mini-fab aria-label="Example icon-button with a heart icon"
          (click)="OnViewMoreClick(row)" mat-button>
          <mat-icon>more</mat-icon>
        </button>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
