.sidenav-container {
  height: 100%;
}
.sidenav {
  width: 200px;
  background:pink;
}

.sidenav .mat-toolbar {
  background: pink;
  font-size: 26px;

  /* background: black; */
}
.example-card {
  max-width: 200px;

}
.image{
    background-image: url('http://localhost:3000/images/customer_images/{{img}}');
    background-size: cover;
  height: 45px;
  width: 45px;

}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 2;
}
.mainpage
{
font-size: xx-large;
background:  thistle;

}
