<div class="container">


  <mat-form-field class="example-full-width">
    <input matInput placeholder="password"  #passwd [type]="hide ? 'password' : 'text'" name="password">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>



  <div class="form-group">
    <button (click)="OnOkClick(passwd.value)" class="btn btn-primary" >ok</button>
  </div>
  <div class="form-group">
    <button (click)="OnCancelClick()" class="btn btn-primary" >Cancel</button>
  </div>
</div>
