<div class="form-style-8">
  <h2>
    Edit user
  </h2>
  <form [formGroup]="productadd" (ngSubmit)="OnAdd()">
    <input type="text" placeholder="product name" formControlName="pro_name">
    <input type="text" placeholder="Product Information" formControlName="info">
    <select formControlName="size">
      <option>size</option>
      <option>4-6 year</option>
      <option>7-10 year</option>
      <option>11-15 year</option>
      <option>15 year above</option>
    </select>
    <select formControlName="color">
      <option>colour</option>
      <option>red</option>
      <option>yellow</option>
      <option>green</option>
      <option>pink</option>
      <option>black</option>
    </select>

    <!-- <p>
  <mat-checkbox [formControl]="disableSelect">Disable select</mat-checkbox>
</p> -->
    <!-- <mat-form-field>
  <mat-label>Select size</mat-label>
  <mat-select [disabled]="disableSelect.value">
    <mat-option >4-6 year</mat-option>
    <mat-option >6-10 year</mat-option>
    <mat-option >11-15 year</mat-option>
    <mat-option >15 above</mat-option>
  </mat-select>
</mat-form-field> -->


    <input type="number" placeholder="Rent" formControlName="rent">
    <input type="number" placeholder="Stock On hand" formControlName="soh">
    <input type="text" placeholder="special instruction" formControlName="sp_instruction">
    <!-- <mat-divider></mat-divider>
      <input type="file" (change)="changeImg($event)">-->
    <select formControlName="fk_cat_id">
      <option *ngFor="let item of categorydata" [value]="item.cat_id">{{item.cat_name}}</option>
    </select>

    <div>
      <button type="submit" mat-raised-button>ADD</button>
    </div>
    <div>
      <button (click)="onsameadd()" mat-raised-button>ADD IN sAME PRODUCT</button>
    </div>
    <div>
      <button (click)="OnCancel()" mat-raised-button>CANCEL</button>
    </div>
  </form>
</div>
